body {
  color: rgba(0, 0, 0, 0.74);
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 700;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

h5 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 14px;
}

a {
  color: #bf3a30;
  text-decoration: none;
}

a:hover {
  color: #bf3a30;
  text-decoration: none;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 18px;
  line-height: 22px;
}

.navigation-link {
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: Montserrat, sans-serif;
  color: silver;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
}

.navigation-link:hover {
  color: #333;
}

.navigation-link.w--current {
  color: #333;
}

.navigation-bar {
  padding-top: 40px;
  padding-bottom: 40px;
  border: 0px solid transparent;
  background-color: #fff;
  text-transform: uppercase;
}

.navigation-menu {
  margin-top: 3px;
}

.brand-text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 33px;
  line-height: 36px;
  font-weight: 400;
}

.introduction {
  position: relative;
  margin-top: 60px;
  padding-top: 0px;
  padding-bottom: 20px;
  background-color: #fff;
}

.social-icon-link {
  margin-right: 2px;
  margin-left: 2px;
  padding: 3px;
  opacity: 0.87;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon-link:hover {
  opacity: 0.3;
}

.footer {
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: #fbfbfb;
  text-align: center;
}

.footer-text {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #bbb;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.photo-link-block {
  width: 100%;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.photo-link-block:hover {
  opacity: 0.8;
  color: #333;
  text-decoration: none;
}

.blog-title {
  margin-bottom: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
}

.byline {
  margin-bottom: 20px;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
}

.sidebar-title {
  margin-bottom: 29px;
}

.blog-link {
  display: block;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #333;
  text-decoration: none;
}

.blog-link:hover {
  text-decoration: none;
}

.sidebar-divider {
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 1px solid #ccc;
}

.title {
  margin-top: 13px;
  margin-bottom: 33px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.photo-page-title {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.photo-page-title.center {
  text-align: center;
}

.photo-info-text {
  margin-bottom: 18px;
  font-family: Montserrat, sans-serif;
  color: #969696;
  font-size: 11px;
  line-height: 17px;
  text-transform: uppercase;
}

.gallery-wrapper {
  margin-top: 56px;
}

.blog-info-text {
  color: silver;
  font-size: 12px;
  text-transform: uppercase;
}

.small-blog-title {
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.small-blog-link {
  margin-bottom: 21px;
  color: #333;
}

.small-blog-link:hover {
  text-decoration: none;
}

.small-list {
  text-align: right;
}

.photo-row {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
}

.description-text {
  margin-bottom: 23px;
}

.paragraph {
  margin-bottom: 20px;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.paragraph.moremargin {
  margin-bottom: 20px;
}

.paragraph-2 {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: 500;
}

.heading {
  margin-bottom: 20px;
  font-family: Quicksand, sans-serif;
  font-weight: 500;
}

.div-bigblock {
  position: relative;
  height: 100%;
  max-height: none;
  padding: 10px;
  background-color: transparent;
}

.div-bigblock.div-half {
  height: 100%;
}

.column-left {
  height: 480px;
  padding-right: 0px;
  padding-left: 0px;
}

.column-left.column-half {
  height: 240px;
}

.column-right {
  height: 480px;
  padding-right: 0px;
  padding-left: 0px;
}

.column-right.half {
  height: 240px;
}

.div-smblock {
  position: relative;
  height: 50%;
  margin-bottom: 0px;
  padding: 10px;
  background-color: transparent;
}

.div-smblock.div-half {
  width: 50%;
  height: 100%;
  float: left;
}

.div-smblock.div-full {
  display: block;
}

.div-smblock.div-full.divwhatever {
  width: 100%;
}

.div-full {
  position: relative;
  width: 50%;
  height: 50%;
  padding: 10px;
  float: left;
  background-color: transparent;
}

.div-full.div-smblock {
  height: 50%;
}

.image-4 {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.image-5 {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.image-6 {
  width: 100%;
  height: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

.image-7 {
  width: 100%;
  height: 100%;
}

.columns {
  margin-right: 0px;
  margin-left: 0px;
}

.tilehover {
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  z-index: 6;
  display: block;
  width: auto;
  height: auto;
  padding-right: auto;
  padding-left: auto;
  background-color: rgba(51, 51, 51, 0.6);
  opacity: 1;
}

.hovercontent {
  position: relative;
  top: 35%;
  padding-right: auto;
  padding-left: auto;
  font-family: Montserrat, sans-serif;
}

.hovercontent.hovercontentsmall {
  top: 25%;
}

.hovercontent.hovercontentmid {
  top: 25%;
}

.heading-2 {
  padding-left: 46%;
}

.heading-3 {
  padding-left: 0%;
}

.heading-4 {
  padding-left: 10px;
}

.heading-5 {
  padding-left: 0%;
}

.heading-6 {
  position: relative;
  padding-top: 0.225em;
  padding-right: 10%;
  padding-left: 10%;
  font-family: Quicksand, sans-serif;
  color: #fff;
  font-weight: 500;
}

.hoverline {
  position: relative;
  left: 10.5%;
  top: 0px;
  bottom: auto;
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.paragraph-3 {
  padding-right: 10%;
  padding-left: 10%;
  font-family: Quicksand, sans-serif;
  color: #f0f0f0;
  font-weight: 500;
}

.image-8 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: inline-block;
  width: 50px;
  height: 50px;
  max-width: auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.image-8.wordicon {
  position: relative;
  left: 10%;
  top: auto;
  right: auto;
  max-width: 100%;
}

.image-9 {
  position: relative;
  left: 10%;
  width: 50px;
  height: 50px;
}

.herosession {
  overflow: hidden;
  width: 100%;
  height: 600px;
  min-height: auto;
  background-color: transparent;
}

.herosession.short {
  height: 500px;
}

.herocontent {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-breakdown {
  min-height: 150px;
}

.column-3 {
  height: 100%;
  padding-right: auto;
  padding-left: auto;
}

.column-4 {
  padding-right: auto;
  padding-left: auto;
}

.section-showcase {
  min-height: auto;
  margin-top: 40px;
}

.columns-3 {
  position: relative;
  height: 100%;
}

.list-item {
  margin-bottom: 30px;
  padding-bottom: auto;
  padding-left: 20px;
  border-left: 3px solid #2b579a;
}

.list-item-2 {
  padding-top: auto;
  padding-left: 20px;
  border-left: 3px solid #2b579a;
}

.container-2 {
  padding: 30px 10px 20px;
  border-bottom: 2px solid #ecf0f1;
}

.list-item-3 {
  padding-right: 20px;
  padding-left: 20px;
  border-left: 3px solid #2b579a;
}

.heading-7 {
  padding-bottom: auto;
  font-family: Quicksand, sans-serif;
  font-size: 24px;
}

.heading-8 {
  padding-bottom: auto;
  font-family: Quicksand, sans-serif;
}

.text-block {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.heading-9 {
  font-family: Quicksand, sans-serif;
  font-weight: 700;
}

.text-block-2 {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.context {
  padding-top: auto;
}

.container-3 {
  margin-bottom: 20px;
  padding: 0px 10px 10px;
  font-family: Quicksand, sans-serif;
  font-weight: 700;
}

.image-10 {
  position: static;
  display: block;
}

.projectimage {
  display: block;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: auto;
  padding-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-style: none none solid;
  border-width: 10px 10px 2px;
  border-color: #ecf0f1;
}

.text-block-3 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  text-align: center;
}

.text-block-3.left {
  text-align: left;
}

.text-block-3.descriptionleft {
  text-align: left;
}

.text-block-3.descriptionleft.extramargin {
  margin-bottom: 20px;
}

.stickybotnav {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  z-index: auto;
  height: 50px;
  border-style: solid none none;
  border-width: 1px 0px 0px;
  border-color: #ecf0f1;
  background-color: #fcfcfc;
}

.container-4 {
  height: 100%;
}

.stickyback {
  position: static;
  display: block;
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: transparent;
}

.column-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.stickyhome {
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 50px;
  background-color: transparent;
}

.stickynext {
  width: auto;
  height: auto;
  max-height: 50px;
  max-width: 50px;
  background-color: transparent;
}

.link-block {
  width: 50px;
  height: 50px;
}

.link-block-2 {
  width: 50px;
  height: 50px;
}

.link-block-3 {
  width: 50px;
  height: 50px;
}

.heading-1 {
  margin-bottom: 20px;
  font-size: 36px;
  text-align: left;
}

.heading-1.processheading {
  margin-top: 40px;
}

.heading-1.centered {
  text-align: center;
}

.subheading {
  margin-bottom: 5px;
}

.subheading.extratoppadding {
  margin-top: 40px;
}

.contentparagraph {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.contentparagraph.extrapadding {
  margin-bottom: 20px;
}

.text-span-2 {
  background-color: rgba(247, 247, 178, 0.8);
}

.taskpanegif {
  position: relative;
  display: block;
  width: 99%;
  height: auto;
  max-width: 100%;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'FA Solid', sans-serif;
  color: #424242;
  font-size: 24px;
}

.text-block-4 {
  font-family: 'FA Solid', sans-serif;
}

.html-embed {
  text-align: center;
}

.html-embed-2 {
  text-align: center;
}

.column-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.html-embed-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.html-embed-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.html-embed-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.text-span-3 {
  text-decoration: underline;
}

.html-embed-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.paragraph-4 {
  text-align: center;
}

.link-block-4 {
  display: block;
}

.link-block-5 {
  display: block;
}

.html-embed-7 {
  display: inline-block;
  text-align: left;
}

.html-embed-8 {
  display: inline-block;
}

.div-block {
  height: 30px;
}

.image-11 {
  display: block;
}

.image-12 {
  display: block;
  max-width: 50%;
  margin-bottom: 40px;
}

.image-13 {
  display: block;
  margin-bottom: 40px;
}

.link-block-6 {
  display: block;
}

.image-14 {
  max-height: 600px;
}

.image-15 {
  max-height: 600px;
}

.list {
  font-size: 16px;
  font-weight: 500;
}

.list-item-4 {
  padding-bottom: 5px;
  line-height: 20px;
}

.list-item-5 {
  padding-bottom: 5px;
}

.list-item-6 {
  padding-bottom: 5px;
}

.list-item-7 {
  padding-bottom: 5px;
}

.image-16 {
  position: static;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.column-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.image-17 {
  display: inline-block;
  padding-right: 20px;
}

.column-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 0.5fr;
  grid-template-columns: 0.5fr 0.5fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image-18 {
  display: inline-block;
}

.image-19 {
  display: block;
}

.image-20 {
  padding-right: 20px;
}

.image-20.belowrow {
  margin-top: 20px;
}

.div-block-2 {
  margin-bottom: 20px;
}

.image-21 {
  padding-right: 20px;
}

.image-22 {
  display: block;
  max-width: 50%;
}

.grid-2 {
  grid-template-areas: "Area";
}

.columns-4 {
  margin-bottom: 20px;
}

.column-11 {
  display: block;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-23 {
  display: block;
}

.image-24 {
  display: block;
}

.image-25 {
  padding-right: 20px;
}

.image-26 {
  padding-right: 20px;
}

.image-27 {
  margin-top: 20px;
}

.div-block-3 {
  margin-bottom: 60px;
}

.list-item-8 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.list-item-9 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.list-item-10 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.list-item-11 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.list-item-12 {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

.link-block-7 {
  display: block;
}

.div-block-4 {
  height: 30px;
}

.link-block-8 {
  display: block;
}

.link-block-9 {
  display: block;
}

html.w-mod-js *[data-ix="fade-in-bottom-page-loads"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="fade-in-left-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(-50px, 0px);
  -ms-transform: translate(-50px, 0px);
  transform: translate(-50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-right-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
}

html.w-mod-js *[data-ix="fade-in-top-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, -50px);
  -ms-transform: translate(0px, -50px);
  transform: translate(0px, -50px);
}

html.w-mod-js *[data-ix="fade-in-bottom-scroll-in"] {
  opacity: 0;
  -webkit-transform: translate(0px, 50px);
  -ms-transform: translate(0px, 50px);
  transform: translate(0px, 50px);
}

html.w-mod-js *[data-ix="bounce-in-scroll-in"] {
  opacity: 0;
  -webkit-transform: scale(0.6000000000000004, 0.6000000000000004);
  -ms-transform: scale(0.6000000000000004, 0.6000000000000004);
  transform: scale(0.6000000000000004, 0.6000000000000004);
}

html.w-mod-js *[data-ix="scale-on-scroll"] {
  opacity: 0;
  -webkit-transform: scale(0.01, 0.01);
  -ms-transform: scale(0.01, 0.01);
  transform: scale(0.01, 0.01);
}

@media (max-width: 991px) {
  .navigation-link {
    padding: 9px 0px;
    color: #ecf0f1;
    text-align: center;
  }
  .navigation-link:hover {
    color: #fff;
  }
  .hamburger-button {
    padding: 7px;
  }
  .hamburger-button.w--open {
    background-color: #000;
  }
  .navigation-menu {
    margin-top: 0px;
    padding-top: 26px;
    padding-bottom: 26px;
    background-color: #000;
  }
  .introduction {
    padding-bottom: 0px;
  }
  .taskpanegif {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .navigation-bar {
    z-index: 1000;
    padding: 24px 5%;
  }
  .hamburger-button {
    padding: 10px;
  }
  .brand-text {
    margin-top: 5px;
  }
  .brand-link.w--current {
    padding-left: 0px;
  }
  .footer {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .blog-info-text {
    margin-bottom: 7px;
  }
  .small-list {
    margin-top: 56px;
    text-align: center;
  }
  .blog-title-wrapper {
    text-align: center;
  }
  .container {
    margin-bottom: 5%;
    padding-right: 5%;
    padding-left: 5%;
  }
}

@media (max-width: 479px) {
  .photo-link-block {
    margin-bottom: 0px;
  }
  .photo-row {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
  .column-left {
    height: auto;
  }
  .column-left.column-half {
    height: 100%;
  }
  .column-right {
    height: auto;
  }
  .div-smblock {
    display: block;
    height: auto;
  }
  .div-smblock.div-half {
    width: 100%;
  }
  .div-full {
    width: auto;
  }
  .hovercontent {
    top: 25%;
  }
  .container {
    padding-right: 5%;
    padding-left: 5%;
  }
  .list-item {
    margin-bottom: 30px;
  }
  .list-item-3 {
    margin-bottom: 30px;
  }
}

@font-face {
  font-family: 'FA Regular';
  src: url('../fonts/fa-regular-400.eot') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FA Solid';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FA brands';
  src: url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}